page-capsule {
    .custom-row {
        padding: 5px;
    
        ion-col:nth-child(1) {
          font-weight: bold;
        }
        ion-col:nth-child(2) {
          color: #858588;
        }
    
        &:not(:last-child) {
          border-bottom: 0.55px solid #c8c7cc;
        }
      }
}
