<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      SpaceTracker
    </ion-title>
    <ion-buttons right (click)="goToInfos()">
      <button ion-button icon-only> <ion-icon name="information-circle"></ion-icon></button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div *ngIf="endLoadingData; else loadingData">
    <ion-card class="anim-next-launch" (click)="goToLaunch(nextLaunch)">
      <ion-item>
        <ion-avatar item-start class="ionic-next-launch-avatar">
          <img src="{{ nextLaunch?.links.mission_patch_small | missionImage: {mission_name: launch?.mission_name} }}">
        </ion-avatar>
        <h2>{{ nextLaunch?.mission_name }}</h2>
        <p>{{nextLaunch?.launch_date_utc | dateFormat }}</p>
        <span
          *ngIf="nextLaunch?.reuse.capsule || nextLaunch?.reuse.core || nextLaunch?.reuse.fairings || nextLaunch?.reuse.side_core1 || nextLaunch?.reuse.side_core2">
                    <ion-badge item-end class="ionic-next-launch-badge">Reused</ion-badge>
                </span>
        <span *ngIf="nextLaunch?.rocket.second_stage.payloads[0].orbit">
                    <ion-badge item-end class="ionic-next-launch-badge">Orbit : {{nextLaunch?.rocket.second_stage.payloads[0].orbit}}</ion-badge>
                </span>
      </ion-item>

      <span *ngIf="!nextLaunchIsLive; else liveNow">
                <ion-row align-items-center text-center class="ionic-countdown-fontsize">
                    <ion-col>
                        <div>{{ nextLaunchDays }}</div>
                    </ion-col>
                    <ion-col>
                        <div>{{ nextLaunchHours }}</div>
                    </ion-col>
                    <ion-col>
                        <div>{{ nextLaunchMinutes }}</div>
                    </ion-col>
                    <ion-col>
                        <div>{{ nextLaunchSeconds }}</div>
                    </ion-col>
                </ion-row>

                <ion-row align-items-center text-center class="ionic-row-margin-bottom">
                    <ion-col>
                        <div>days</div>
                    </ion-col>
                    <ion-col>
                        <div>hours</div>
                    </ion-col>
                    <ion-col>
                        <div>mins</div>
                    </ion-col>
                    <ion-col>
                        <div>secs</div>
                    </ion-col>
                </ion-row>
            </span>
      <ng-template #liveNow>
        <ion-row align-items-center>
          <button outline ion-button margin padding color="danger" class="ionic-live-button">
            Live now
            <span class="live-circle"></span>
          </button>
        </ion-row>
      </ng-template>
    </ion-card>

    <div padding class="anim-type-launch row-filters">
      <ion-segment [(ngModel)]="typeLaunches">
        <ion-segment-button value="upcoming">
          Upcoming
        </ion-segment-button>
        <ion-segment-button value="past">
          Past
        </ion-segment-button>
      </ion-segment>
      <ion-icon class="settings-icon" name="settings" (click)="presentPopover($event)"></ion-icon>
    </div>

    <div [ngSwitch]="typeLaunches" class="anim-upcoming-launch">
      <ion-list *ngSwitchCase="'upcoming'">
        <ion-list>
          <ion-item *ngFor="let launch of upcomingLaunches" (click)="goToLaunch(launch)">
            <ion-avatar item-start>
              <img src="{{ launch.links.mission_patch_small | missionImage: {mission_name: launch?.mission_name} }}">
            </ion-avatar>
            <h2>{{ launch?.mission_name }}</h2>
            <p>{{ launch?.details }}</p>
            <p>{{ launch?.launch_date_utc | dateFormat }}</p>

            <span
              *ngIf="launch?.reuse.capsule || launch?.reuse.core || launch?.reuse.fairings || launch?.reuse.side_core1 || launch?.reuse.side_core2">
                            <ion-badge no-margin color="primary">Reused</ion-badge>
                        </span>
            <span *ngIf="launch?.rocket.second_stage.payloads[0].orbit">
                            <ion-badge no-margin color="primary">Orbit : {{launch?.rocket.second_stage.payloads[0].orbit}}</ion-badge>
                        </span>
          </ion-item>
        </ion-list>
      </ion-list>

      <ion-list *ngSwitchCase="'past'">
        <ion-list>
          <ion-item *ngFor="let launch of pastLaunches" (click)="goToLaunch(launch)">
            <ion-avatar item-start>
              <img src="{{ launch.links.mission_patch_small | missionImage: {mission_name: launch?.mission_name} }}">
            </ion-avatar>
            <h2>{{ launch?.mission_name }}</h2>
            <p>{{ launch?.details }}</p>
            <p>{{ launch?.launch_date_utc | dateFormat }}</p>

            <span *ngIf="launch?.launch_success; else launchFailed">
                            <ion-badge no-margin color="secondary">Success</ion-badge>
                        </span>
            <ng-template #launchFailed>
              <ion-badge no-margin color="danger">Failed</ion-badge>
            </ng-template>
            <span
              *ngIf="launch?.reuse.capsule || launch?.reuse.core || launch?.reuse.fairings || launch?.reuse.side_core1 || launch?.reuse.side_core2">
                            <ion-badge no-margin color="primary">Reused</ion-badge>
                        </span>
            <span *ngIf="launch?.rocket.second_stage.payloads[0].orbit">
                            <ion-badge no-margin color="primary">Orbit : {{launch?.rocket.second_stage.payloads[0].orbit}}</ion-badge>
                        </span>
          </ion-item>
        </ion-list>
      </ion-list>
    </div>
  </div>
  <ng-template #loadingData>
    <span class="loader"></span>
  </ng-template>
</ion-content>
