page-infos-charts {
  .chart{
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 100%;
    display: block;
    position: relative;
    background: #ffffff;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);
    .inner{
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform:translateY(-50%);
      .icon{
        width: 100%;
        height: 50px;
        img{
          display: block;
          height: 100%;
          width: auto;
          margin: 0 auto;
        }
      }
      .name{
        font-size: 1.5rem;
        margin: 20px 0;
        text-align: center;
      }
    }
  }
}
